{% extends "layouts/_default.html.twig" %}

{% block main %}
<h1>Hello World!</h1>
<p>Welcome {{ fname }} {{ lname }}!</p>

<ul>
    {% for contact in contacts %}
        {% if contact.age > 21 %}
            <li>{{contact.fname|upper }} {{contact.lname|lower }}</li>
        {% endif %}
    {% endfor %}
</ul>

<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file">File Upload:</label>
    <input type="file" name="file" id="file" />
    <button type="submit">Submit</button>
</form>
{% endblock %}