<h1>Hello World!</h1>
<p>Welcome {{ fname }} {{ lname }}!</p>

<ul>
    {% for contact in contacts %}
        {% if contact.age > 21 %}
            <li>{{contact.fname}} {{contact.lname}}</li>
        {% endif %}
    {% endfor %}
</ul>