<nav>
    <ul
        style="
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 1.5rem;
            padding: 0;
            margin: 0;
        "
    >
        <li>
            <a href="/planets" style="font-weight: bold">Planets</a>
        </li>
        <li>
            <a href="/stars" style="font-weight: bold">Stars</a>
        </li>
        <li>
            <a href="/galaxies" style="font-weight: bold">Galaxies</a>
        </li>
    </ul>
</nav>
